@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: "Plus Jakarta Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(12, 18, 31, 0.95);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  padding: 0px;
  margin: 0px;

  --backgroundColor: #0c121F;
  --mainColor: #f38bdc;
  --secondColor: #713C96;
  --thirdColor: #7B3BAD;

  --semanticGrayColor: #686472;
  --semanticSecondColor: #7935E0;
  --semanticThirdColor: #AF96BC;

  --neutralBlackColor: #06080C;
  --neutralSecondColor: #646870;
  --neutralThirdColor: #292D32;

  --Glass1-Fill-Carey: linear-gradient(321deg, rgba(191, 191, 191, 0.06) 5.98%, rgba(0, 0, 0, 0.00) 66.28%), rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

input:focus {
  outline: none;
}

.auth-div {
  display: flex;
  align-items: center;
  border-radius: 24px;
  background: var(--Glass1-Fill-Carey, linear-gradient(321deg, rgba(191, 191, 191, 0.06) 5.98%, rgba(0, 0, 0, 0.00) 66.28%), rgba(0, 0, 0, 0.14));
  box-shadow: -8px 4px 5px 0px rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(26.5px);
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.range-slider {
  appearance: none;
  width: 100%;
  height: 150px; /* Adjust height as needed */
  background: transparent; /* Make the background transparent */
  position: relative;
  transform: rotate(-90deg); /* Rotate the slider */
}

/* Style for the thumb (to hide or modify the handle) */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  background: none;
  border: none;
}

/* Range slider's progress bar, styled like a semi-circle */
.range-slider::-webkit-slider-runnable-track {
  background: none;
  border: 4px solid #4a5568; /* Border color */
  border-radius: 150px 150px 0 0; /* Half circle */
  height: 150px; /* Adjust the height */
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

.range-slider::-moz-range-track {
  background: none;
  border: 4px solid #4a5568;
  border-radius: 150px 150px 0 0;
  height: 150px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

.range-slider::-ms-track {
  background: none;
  border: 4px solid #4a5568;
  border-radius: 150px 150px 0 0;
  height: 150px;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

/* Clip path for a half-circle background */
.clip-half-circle {
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}